.about {
    background-color: #64afcb;
    height: auto;
    min-height: 30rem;
}

.about-body {
    color: #fff;
    font-size: 1.8rem;
    margin-right: $s-size;
    padding: 0 0 $l-size $m-size;
}

.about-image {
    margin: $m-size;
    float: left;
    max-height: 15rem;
    max-width: 15rem;
    width: 30vw; 
    box-shadow: 0 0 40px rgba(21, 63, 129, 0.65);
  }



@media (min-width: $desktop-breakpoint) {
    .about-body {
        font-size: 2.4rem;
    }
    .about-image {
        display: block;
        text-align: center;
        margin: auto auto;
        height: 15rem;
        margin-bottom: 25px;
        border-radius: 75px;
        margin: $m-size;
    }
}