.about {
    padding-top: 1rem;
	
	.about-box{
	align-items: center;
	display: flex;
	justify-content: space-between;
	
	img {
		display: block;
		height: 95vw;
		max-height: 25rem;
		max-width: 25rem;
		margin: 0 .5rem;
		width: 25rem;
		width: 95vw;

		-webkit-clip-path: polygon(8% 4%, 92% 2%, 95% 95%, 3% 98%);
		clip-path: polygon(8% 4%, 92% 2%, 95% 95%, 3% 98%);
	}
	p {
		font-family: Helvetica;
		font-size: 1rem;
		line-height: 2.2rem;
		max-width: 60ch;
		
		br {
			content: "";
			display: block;
			margin: 2rem;
		}
		span {
			background: #404040;
			border-radius: .6rem;
			color: hsl(0, 0%, 99%);
			padding: .4rem;
		}
    }
    }
}


@media (min-width: $desktop-breakpoint) {
   
}