.contact {
    background: linear-gradient(#64afcb, white);
    color: #2986ac;
    font-size: $font-m;
    padding-bottom: $l-size;
}

.contact-body {
    background-color: rgba(144, 213, 238, 0.871);
    padding: 1rem 0;
    position: relative;
    text-align: center;

    span {
        font-weight: 500;
    }
}