.contact-container {
	background: hsla(260, 80%, 85%, 0.7);
	position: relative;

	&:after {
		border-left: 100vw solid transparent;
		border-right: 00vw solid transparent;
		border-top: 2.5rem solid white;
		content: "";
		height: 2rem;
		position: absolute;
		top: 0;
		z-index: 3;
	}
}

.contact {
    p {
		font-size: 1.25rem;
		padding: 1.25rem;
		text-align: center;
	}
	.contact-right {
		align-items: center;
		background: #ffffffee;
		box-shadow: 20px 20px 1px black;
		box-sizing: content-box;
		color: #1b6985;
		display: flex;
		font-family: arial;
		justify-content: center;
		margin-top: 2rem;
		padding: 1rem;

		clip-path: polygon(3% 2%, 99% 2%, 98% 100%, 2% 98%);
	}
	.contact-email {
		background: #ffffffee;
		box-sizing: border-box;
		font-family: Verdana;
		clip-path: polygon(2% 3%, 99% 3%, 100% 98%, 4% 100%);
		
		a {
			color: #7445D7;
			font-weight: bold;
		}
	}	
	.social-icons {
		display: flex;
		justify-content: space-around;
		margin-top: 1rem;
		padding: .5rem;
		width: 100%;
		
		&__twitter, &__instagram, &__github, &__codepen {
			background-size: 100% 400%;
			background-position: top;
			border-radius: 50%;
			height: 5rem;
			transition: all .5s;
			width: 5rem;

			&:hover {
				background-position: bottom;
				box-shadow: 0px 0px 5px $gray;
				cursor: pointer;
			}
		}
		&__twitter {
			background-image: linear-gradient(45deg, #1FA1F2 50%, white 50%);
		}
		&__instagram {
			background-image: linear-gradient(-135deg, white 50%, #DE456D 50%);
		}
		&__github {
			background-image: linear-gradient(-45deg, #5AB85A 50%, white 50%,);
		}
		&__codepen {
			background-image: linear-gradient(135deg, white 50%, #EED418 50%);
		}
		
	}
}

@keyframes background-color-slide-in {
	0% {background-position: top}
	100% {background-position: bottom}
}
@keyframes background-color-slide-out {
	0% {background-position: bottom}
	100% {background-position: top}
}