.contact {
    background: white;
    color: white;
    font-size: 2rem;
    padding: $l-size 0;
}

.contact-body {
    background-color: lighten($purple-light, 12%);
    padding: 1rem 0;
    position: relative;
    text-align: center;

    span {
        font-weight: 500;
        color: $purple-light;
    }
}