.footer-container{
    background: #fff;
}
.footer {
    align-items: center;
    color: #90edc7;
    display: flex;
    font-family: Hiragino Sans GB;
    font-size: .8rem;
    justify-content: space-between;
    height: 6rem;
    margin: 0 auto;
    max-width: 70rem;
    text-align: center;

    &__image {
        background: white;
        border-radius: 2rem;
        height: 5rem;
        padding: 1rem;
        width: 7rem;
    }
    p {
        color: #000;
    }
}