.footer-container{
    background: linear-gradient(90deg,$blue-light,$green-light , $purple-light);
}
.footer {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2rem .5rem;
}