.header {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100vw;

    background-image: url(/img/header.jpg);
    background-position: center;
    background-size: cover;
}

.header__title {
    font-size: $xl-size;
    font-weight: 300;
    letter-spacing: 5px;
    text-align: center;
}

.header__subtitle {
    font-size: $l-size;
    font-weight: 300;
    text-align: center;
}

.header-navigation {
    border: 2px solid #ffffff75;
    box-sizing: content-box;
    display: flex;
    justify-content: space-around;
    margin: $l-size auto;
    padding: 10px;
    width: 25rem;
}

.header-navigation__link {
    color: #FFFFFFdd;
    cursor: pointer;
    font-size: 2rem;
    text-decoration: none;
}

