.header {
    align-items: center;
	background: linear-gradient(white);
	display: flex;
	flex-direction: column;
	height: 100vh;
    justify-content: center;
    
    &__top {
        align-items:center;
		display: flex;
		font-family: Hiragino Sans GB;
		font-size: 1.2rem;
        margin-bottom: 2rem;
        
        &__title {
            @extend .animation__appear;
            background: $gray;
			border-radius: 6rem;
			padding: 2rem;
			color: white;
            opacity: 0;
        }
        &__image {
            height: 135px;
			width: 150px;
			margin-right: 1rem;
        }
    }
}

.navigation {
    @extend .animation__appear;
	animation-delay: 1s;
	opacity: 0;

    &__links {
        display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style-type: none;
		margin: 0 auto;
    }
    &__link {
        background: linear-gradient(215deg, hsl(198, 58%, 30%) 50%, hsl(198, 78%, 50%) 50%);
        background-position: bottom left;
        background-size: 300% 300%;
        border-radius: 1.2rem;
        color: white;
        display: block;
        font-family: arial;
        font-size: 1.20rem;
        margin: 0.25rem 1rem;
        padding: 0.5rem;
        text-decoration: none;
        transition: .7s;
        
        &:hover {
            background-position: top right;
            cursor: pointer;
        }
    }
}

.header-navigation {
    border: 2px solid #ffffff75;
    box-sizing: content-box;
    display: flex;
    justify-content: space-around;
    margin: $l-size auto;
    padding: 10px;
    width: 30rem;
}

.header-navigation__link {
    color: #FFFFFFdd;
    cursor: pointer;
    font-size: $font-m;
    text-decoration: none;
}
