.socialmedia {
    font-size: 1.8rem;
    text-align: center;
    margin: $m-size auto;
}

.socialmedia-container {
    display: flex;
    justify-content: space-around;
}

.socialmedia-body {
    padding: 0 $s-size;
}

.socialmedia__image {
    border: 1px solid rgb(21, 63, 129);
    border-radius: 100px;
    display: block;
    margin-top: $m-size;
  
    width: 75px;
    height: 75px;
}



@media (min-width: $desktop-breakpoint) {
    .homepage-socialmedia {
        font-size: 2.2rem;
    }
    .socialmedia__image {
        width: 140px;
        height: 140px;
    }
}