.socialmedia {
    font-size: $font-s;
    text-align: center;
    margin: $m-size auto;
}

.socialmedia-container {
    display: flex;
    justify-content: space-around;
    margin-top: $l-size;
}

.socialmedia-body {
    color: $blue-dark;
    padding: 0 $s-size;
    opacity: .9;
}

.socialmedia__image {
    background: white;
    border: 1px solid $blue-dark;
    border-radius: 100px;
    width: 75px;
    height: 75px;
}
.socialmedia__image--instagram {
    padding: 7px;
}



@media (min-width: $desktop-breakpoint) {
    .socialmedia__image {
        width: 140px;
        height: 140px;
    }
}