.list-item {
    background: lighten($third-color, 10%);
    border-bottom: 2px solid $third-color;
    display: flex;
    justify-content: space-between;
    margin: 0 0 $s-size 0;
    padding: 0 $s-size;
    word-wrap: break-word;
}

.list-item__text {
    color: darken($secondary-color, 10%);
    font-size: 2rem;
    width: 36rem;
}

.list-item__button {
    background: none;
    border: none;
    color: #fff;
    font-family: monospace;
    font-size: $l-size;
    font-weight: bold;
}

.list-item__button:focus {
    outline: none;
}