.list {
    background: none;
    max-height: 75vh;
    margin: 0 auto;
    overflow: auto;
    width: 95vw;
}

.list-bar::-webkit-scrollbar {
    background: none;
}

.list-bar::-webkit-scrollbar-thumb {
    background: $third-color;
    border-radius: 5px;
    margin-left: 2px;
}

@media (min-width: $listlist-desktop-breakpoint) {
    .list {
        float: right;
        max-height: 75vh;
        overflow: auto;
        max-width: 40rem;
        width: 40rem;
    }  
}