// Colors
$blue-light: #90d5ee;
$blue-med: #64AFCB;
$blue-dark: #248aaf;
$green-light: #90edc7;
$green-med: #62ca9f;
$green-dark: #23ad74;
$purple-light: #b890ed;

// Font
$font-s: 1.6rem;
$font-m: 2.2rem;
$font-l: 3.2rem;
$font-xl: 4.8rem; 

// Spacing
$xs-size: .8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;